<div class="portfolio__item JS-View">
  <div class="portfolio__preview">
    <img class="portfolio__preview-logo" src="{{ logo }}">
    <div class="portfolio__preview-background {{ previewBackgroundClass }}">
      <img class="JS-View-Wrapper portfolio__preview-device {{ portfolioPreviewDevice }}" src="{{ device_wrapper }}" data-viewer-params="{'{{ device }}': {'image': '{{ device_wrapper }}', 'class': '{{ portfolioPreviewDevice }}'}}">
      <img class="JS-View-Current portfolio__preview-image {{ portfolioPreviewImage }}" src="{{ screenshot }}" data-viewer-params="{'{{ device }}': {'image': '{{ screenshot }}', 'class': '{{ portfolioPreviewImage }}'}}">
    </div>
  </div>
  <div class="portfolio__info">
    <div class="portfolio__info-title">{{ title }}</div>
    <div class="portfolio__info-description">{{ info_description }}</div>
  </div>  
  <div class="portfolio__devices">
    <div class="portfolio__devices-nav">
      <span class="JS-View-Device portfolio__devices-item" data-type="desktop">Desktop</span>
      <span class="JS-View-Device portfolio__devices-item portfolio__devices-item_space" data-type="tablet">Tablet</span>
      <span class="JS-View-Device portfolio__devices-item" data-type="mobile">Mobile</span>
    </div>
    <div class="portfolio__devices-description">{{ devices_description }}</div>
    <div class="portfolio__devices-image">
      <img src="static/img/john1-desk.png" class="JS-View-Image portfolio__devices-screenshot" data-image="static/img/john1-desk.png">
      <img src="static/img/john4-tab.png" class="JS-View-Image portfolio__devices-screenshot" data-image="static/img/john4-tab.png">
      <img src="static/img/john7-mob.png" class="JS-View-Image portfolio__devices-screenshot" data-image="static/img/john7-mob.png">
    </div>
  </div>
</div>