<div class="portfolio__item">
  <div class="portfolio__preview">
    <img class="portfolio__preview-logo" src="{{ logo }}">
    <div class="portfolio__preview-background {{ previewBackgroundClass }}"><img class="portfolio__preview-image {{ portfolioPreviewClass }}" src="{{ device }}"></div>
  </div>
  <div class="portfolio__info">
    <div class="portfolio__info-title">{{ title }}</div>
    <div class="portfolio__info-description">{{ info_description }}</div>
  </div>  
  <div class="portfolio__devices">
    <div class="JS-Viewer portfolio__devices-nav">
      <span class="portfolio__devices-item">
        <a href="javascript:;" class="JS-View-Type portfolio__devices-link">Desktop</a>
      </span>
      <span class="portfolio__devices-item portfolio__devices-item_space">
        <a href="javascript:;" class="JS-View-Type portfolio__devices-link">Tablet</a>
      </span>
      <span class="portfolio__devices-item">
        <a href="javascript:;" class="JS-View-Type portfolio__devices-link">Mobile</a>
      </span>
    </div>
    <div class="portfolio__devices-description">{{ devices_description }}</div>
    <div class="portfolio__devices-image">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
    </div>
  </div>
</div>