<div class="portfolio__item">
  <div class="portfolio__preview">
    <img class="portfolio__preview-logo" src="{{ logo }}">
    <div class="portfolio__preview-background {{ previewBackgroundClass }}"><img class="portfolio__preview-image {{ portfolioPreviewClass }}" src="{{ device }}"></div>
  </div>
  <div class="portfolio__info">
    <div class="portfolio__info-title">{{ title }}</div>
    <div class="portfolio__info-description">{{ info_description }}</div>
  </div>  
  <div class="JS-Viewer portfolio__devices">
    <div class="portfolio__devices-nav">
      <span class="JS-View-Type portfolio__devices-item">Desktop</span>
      <span class="JS-View-Type portfolio__devices-item portfolio__devices-item_space">Tablet</span>
      <span class="JS-View-Type portfolio__devices-item">Mobile</span>
    </div>
    <div class="portfolio__devices-description">{{ devices_description }}</div>
    <div class="portfolio__devices-image">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
      <img src="{{ screenshot }}" class="JS-View-Image portfolio__devices-screenshot">
    </div>
  </div>
</div>